body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 20px;
}

body {
    margin: 0;
    min-height: 100vh;

    background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("images/planting-background.JPG");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}